.header{
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: left;
    color: #005baa;
    width: 83.33333%;
    margin-top: 15px;
    margin-left: 8.33333%;
    font-size: 20px;

    box-sizing: border-box;
    padding:25px 16px;
    
    border-bottom: 2px solid rgb(222, 222, 222);
    
}