.NavBar{
    width: 99vw;
    height: 15vh;
    background-color: #005baa;
    justify-content: space-between;
    align-items: center;
    display: flex;
    position:fixed;
}
.Logo{
    padding: 0 80px;
}
.CartButton{
    padding: 0 170px;
    background-color: white;
    border: none;
    color: gray;
    height: 60px;
    border-radius: 30px;font-weight: 200;
}