.cart-table {
    margin: 20px 0px;
}

.cart-product {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 15px 0;
}

.cart-product .cart-table {
    margin-top: 10px;
}

.addBtn{
    height: 30px;
    width: 30px;
    border-radius:5px ;
    border: none;margin: 2px 0;
}

.cart-product th,
.cart-product td {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    margin: 15px 0;
}

.button{
    color:white;
    background-color:#005baa;
    width: max-content;
    height: max-content;
    padding: 10px 15px;margin: 2px;
    border: none;
    border-radius: 10px;
}